@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.bg-navbar {
  filter: blur("8px");
  -webkit-filter: blur("8px");
  background: #010101;
  background: radial-gradient(at center, #181717, #1a1d20);
  box-shadow: rgba(50, 93, 62, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 50px 60px -30px,
    rgba(10, 64, 41, 0.35) 0px -2px 6px 0px inset;
}

.swap-background {
  background: rgb(65, 61, 62);
  background: radial-gradient(
    circle,
    rgb(61, 65, 62) 0%,
    rgba(0, 3, 6, 1) 100%
  );
  filter: blur("40px");
  -webkit-filter: blur("40px");
}
